#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.logo {
  height: 5em;
}
.logo:active {
  transform: scale(1.2);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other elements */
  background-color: white; /* Add a background color to avoid transparency issues */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
input {
  border: none;
  padding: 10px 30px;
  outline: none;
  width: 320px;
}
.icon-sec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-img {
  margin-left: 5px;
}
.loc {
  border-left: solid 1px rgb(201, 201, 201);
}
.ser {
  border-radius: 50%;
  background-color: #ff5757;
  padding: 10px;
  align-content: center;
}
.search {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 5px 7px;
}
.search:hover {
  border: 2px solid #ff9d9d;
}
.search:active {
  transform: scale(1.01);
}

.link {
  text-decoration: none;
  color: black;
  margin: 0 20px;
  font-size: 13px;
}

.link:hover {
  color: #ff9d9d;
  width: fit-content;
}
.link:active {
  animation: clickAnimation 0.2s ease-in-out;
}
@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.log:hover {
  background-color: #ff9d9d;
  cursor: pointer;
  padding: 0 15px;
  color: black;
}
.log:active {
  animation: clickAnimation 0.2s ease-in-out;
}
.log {
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
}
.display {
  display: none;
}

@media (max-width: 560px) {
  .search {
    display: none;
  }
  .display {
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 7px;
    margin: 0 10px;
    width: 100%;
  }
  .rev {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .search-img,
  .ser {
    display: none;
  }
}

@media (max-width: 900px) {
  .loc {
    display: none;
  }
  .auth {
    width: fit-content;
  }
}
